{% extends "base.html" %}
{% block title %}Privacy Policy - *Website Name*{% endblock %}
{% block content%}
<link href="../static/styles/privacy.css" rel="stylesheet" />
<div class="privacy-main">
    <h1>Privacy Policy of *Website Name*</h1>
    <p>Last update: September 26, 2023</p>
    <br>
    <p>At *Website Name*, we respect your personal information and are
        committed to protecting it. This Privacy Policy describes what
        information we collect, how we use it, and how we protect it.</p>
    <br>
    <h2>Information we collect</h2>
    <br>
    <p>We may collect and process the following data about you:</p>
    <ul>
        <li>Information that you provide when using our website, which
            includes your first name, last name, and email address.</li>
        <li>Information we collect through "Sign in with Google", which
            includes your Google ID and the URL of your Google profile
            picture.</li>
    </ul>
    <br>
    <h2>How we use your information</h2>
    <br>
    <p>We use the information we collect to:</p>
    <ul>
        <li>Provide and improve our services.</li>
        <li>Communicate with you.</li>
        <li>Improve the security of our website.</li>
    </ul>

    <br>
    <h2>How we protect your information</h2>
    <br>
    <p>We take security measures to protect your personal information against
        unauthorized access, unauthorized disclosure, alteration, and
        destruction. These measures include physical and technological
        security practices.</p>
    <br>
    <h2>Changes to our Privacy Policy</h2>
    <br>
    <p>We may revise this Privacy Policy from time to time. The
        most recent version of the policy will govern our use of your
        information
        and will always be available on our website.</p>
    <br>
    <h2>Contact</h2>
    <br>
    <p>If you have any questions about this Privacy Policy, you can contact
        us at <a class="contact-link"
            href="mailto:contact@website.com?subject=">contact@website.com</a>.</p>

    <br>
    <p>Thank you for choosing *Website Name*.</p>

</div>
{% endblock %}
