{% extends "base.html" %}
{% block title %}Terms of Service - *Website Name*{% endblock %}
{% block content%}
<link href="../static/styles/privacy.css" rel="stylesheet" />
<div class="privacy-main">
    <h1>Terms of Service of *Website Name*</h1>
    <p>Last update: September 26, 2023</p>
    <br>
    <h2>1. Acceptance of Terms</h2>
    <br>
    <p>By using the services of *Website Name*, you agree to these
        Terms of Service ("Terms"). Please read these Terms carefully
        before using our services.</p>
    <br>
    <h2>2. Services</h2>
    <br>
    <p>*Website Name* currently offers the following services:</p>
    <ul>
        <li>Create an account and log in/out.</li>
    </ul>
    <br>
    <h2>3. User Accounts</h2>
    <br>
    <p>To use our services, you may need to create an account.
        You are responsible for maintaining the confidentiality of your account
        and
        password and for all activities that occur under your account.</p>
    <br>
    <h2>4. Changes to our Terms of Service</h2>
    <br>
    <p>We may modify these Terms or our services at any
        time. We will notify you of any changes to these Terms.</p>
    <br>
    <h2>6. Limitation of Liability</h2>
    <br>
    <p>*Website Name* will not be liable for any damage or loss that
        arises from the use or inability to use our services.</p>
    <br>
    <h2>7. Contact</h2>
    <br>
    <p>If you have any questions about these Terms of Service, you can contact
        us at <a class="contact-link"
            href="mailto:contact@website.com?subject=">contact@website.com</a>.</p>
    <br>
    <p>Thank you for choosing *Website Name*.</p>
</div>
{% endblock %}
